# ---- Node / Backend ----
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.env
.env.local

# Logs
logs
*.log
log.txt

# ---- MongoDB data ----
data/
dump/
*.bak

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- IDE folders ----
.vscode/
.idea/

# ---- Frontend / React ----
client/node_modules/
client/dist/
client/build/

# ---- Other ----
*.pid
*.seed
tmp/
temp/
